@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
/* Renkler */
:root {
  --main-bg-color: rgb(35, 144, 140);
  --hover-bg-color: rgba(255, 255, 255, 0.247);
  --my-bg-color: #d32d67;
  --nav-right-bg-color: #1c7e8c;
  --nav-link-color: #5a6473;
  --nav-link-hover-color: #419a97;
  --search-btn-hover-bg-color: #1b1c1edf;
  --social-media-span-color: #5e6a7b;
  --social-media-div-bg-color: #43c0b9;
  --navbar-bottom-bg-color: #1e7b78;
  --nav-shop-madia: #f0f0f0;
  --nav-shop-madia-border: rgb(213, 210, 210);
}
* {
  top: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/* Top Main  */

.nav-main {
  background-color: var(--main-bg-color);
  width: 100%;
  font-size: 9.9px !important;
  padding: 0 100px 0 100px !important;
}
.nav-main a {
  cursor: pointer;
}
.nav-main a:hover {
  background-color: var(--hover-bg-color);
}
.nav-right div:hover {
  background-color: var(--hover-bg-color) !important;
  height: 30px;
}
.bg-nav-right {
  background-color: var(--nav-right-bg-color);
  cursor: pointer;
}
.nav-right i {
  color: var(--social-media-div-bg-color);
  font-size: 12px;
  font-weight: bold;
}

.text-shop {
  background-color: var(--navbar-bottom-bg-color) !important;
}
.text-my {
  background-color: var(--my-bg-color);
}
.nav-link {
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  text-decoration: none;
}

/* Top Menu Finish */

/* Logo Bar Start  */
.logo-right-text {
  display: flex;
  color: var(--nav-right-bg-color);
  font-size: 14px;
}
.logo-bar {
  padding: 0 100px 0 100px;
}
.logo {
  height: 40px;
  width: 149px;
}

.search-input {
  width: 531px;
  height: 33px;
  border: 1px solid var(--nav-link-color);
}
.search-input:hover {
  box-shadow: 0 0 2pt 0.1pt var(--navbar-bottom-bg-color);
}
.search-input:focus {
  box-shadow: 0 0 0.8pt 0.8pt var(--navbar-bottom-bg-color);
  outline-width: 0px;
  border: none;
}
.search-btn {
  background-color: var(--nav-link-color);
  color: white;
}
.search-btn:hover {
  background-color: var(--search-btn-hover-bg-color);
}
.nav-link-modal {
  margin-left: 60px;
  padding: 5px;
  font-weight: 600;
  font-size: 16px;
}

.nav-link-modal a {
  text-decoration: none;
  color: var(--nav-link-color);
}
.nav-link-modal a:hover {
  color: var(--nav-link-hover-color);
}
/*Shop media start*/
.nav-shop-madia {
  background-color: var(--nav-shop-madia);
  padding: 10px 100px;
  border-top: 1px solid var(--nav-shop-madia-border);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
.nav-shop-madia a {
  text-decoration: none;
  color: var(--nav-link-hover-color);
}
.social-media span {
  color: var(--social-media-span-color);
  font-size: 8px;
  margin-bottom: 10px;
}
.social-media a div {
  background-color: var(--social-media-div-bg-color);
}
.social-media a div:hover {
  scale: 1.25;
}
.g-sorciai-media {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* section-body  */
.section-body {
  height: auto;
  width: 80%;
  margin: 0 auto 0 auto;
}
.banner img {
  height: 190px;
  width: 235px;
}
/*Cards*/
.card-title span {
  color: var(--nav-right-bg-color) !important;
  font-size: 25px;
}
.card img {
  height: 190px;
  width: 130px;
}
.card-title {
  font-size: 15px;
}
.card {
  width: 160px;
  height: 260px;
}
/* card animasyon  */
.card-ani {
  height: 230px;
  width: 180px;
  /* margin: 12px; */
}
.card-ani img {
  width: 160px;
  height: 200px;
}

.card-ani-title:hover {
  color: var(--nav-right-bg-color);
  cursor: pointer;
}

.card-ani {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 60%;
  background-color: var(--nav-right-bg-color);
  transition: top 0.5s;
}

.card-ani:hover .overlay {
  top: 0;
}

.card-ani img {
  position: relative;
  z-index: 1;
}
.card-ban {
  width: 600px;
  height: 130px;
}
/* footer  */
.footer {
  width: 100% !important;
}
.underline-none {
  text-decoration: none;
}
.underline-none:hover {
  text-decoration: solid;
}

.accordion {
  display: none;
}

/* DETAİL PAGE  */

/* Category Page  */
.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
}
.plus {
  border: 1px solid var(--navbar-bottom-bg-color);
  background-color: var(--nav-right-bg-color);
  padding: 0 5px;
}
.left-title {
  border-bottom: 2px solid var(--nav-right-bg-color);
}

.section-catergory {
  width: 90%;
  margin: auto;
  padding: 0 80px;
}
@media (max-width: 1550px) {
  .navbar-bottom {
    display: none !important;
  }
}
@media screen and (max-width: 1280px) {
  .section-body {
    width: 90% !important;
  }
  .banner {
    width: 100% !important;
  }
  .banner img {
    width: 220px;
  }
}
@media (max-width: 1250px) {
  .navbar-bottom {
    display: none !important;
  }
  .detail-right {
    display: none;
  }
}

@media (max-width: 1024px) {
  .navbar-bottom {
    display: none !important;
  }
  .nav-main {
    margin: 0 !important;
    padding: 0 !important;
  }
  .detail-left {
    width: 100%;
  }

  .detail-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .detail-card-img {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin: 0 auto;
  }

  .detail-title {
    text-align: center;
  }
  .des-detail,
  .detail-desc,
  .hr-detail {
    display: none !important;
  }
  .accordion {
    display: block;
  }
  .section-card-mbl {
    justify-content: start !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
@media (max-width: 900px) {
  .logo-bar {
    box-shadow: 0 3px 3px 0 rgb(40 40 45 / 10%);
    margin-top: 10px !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .logo-right-text {
    display: none !important;
  }
  .view-by,
  .results-per-page {
    display: none !important;
  }

  .page-number {
    display: flex !important;
    margin: auto !important;
    width: 100% !important;
  }

  .navbar-bottom {
    display: none !important;
  }
  .nav-link-modal ul li a {
    font-size: 12px;
  }
  .nav-main a {
    font-size: 9px;
  }
  .nav-right span {
    font-size: 9px;
  }
  .nav-main {
    padding-right: 0 !important;
    margin: 0 auto;
    position: relative;
  }
  .category-sidebar {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .category-sidebar {
    display: none !important;
  }
  .logo-bar {
    box-shadow: 0 3px 3px 0 rgb(40 40 45 / 10%);
    margin-top: 10px !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .seacrh-input {
    width: 50% !important;
  }
  .search {
    display: flex;
    flex-direction: column;
  }
  .search-btn span {
    display: none;
  }
  .search-btn i {
    margin-left: -10px !important;
  }
  .logo-right-text span {
    display: none;
  }
  .nav-link-modal a {
    font-size: 12px;
  }
  .footer {
    display: none !important;
  }
  .navbar-bottom {
    display: flex !important;
  }
  .detail-left {
    width: 100%;
  }

  .detail-card {
    max-width: 100%;
  }

  .detail-card-img {
    height: auto;
  }

  .detail-title {
    text-align: center;
  }

  .notify-btn {
    width: 40%;
    margin-bottom: 1rem;
  }
  .section-detail {
    flex-direction: column;
    gap: 10px;
  }

  .detail-right {
    display: none;
  }

  .nav-link-modal {
    display: none;
  }
  .navbar-bottom {
    display: flex !important;
  }
}
@media (max-width: 480px) {
  .category-sidebar {
    display: none !important;
  }
  .navbar-bottom {
    display: flex !important;
  }
  .section-card-mbl {
    margin: 0 !important;
    padding: 0 !important;
  }

  #notif-h {
    word-wrap: break-word;
    width: 80%;
  }
  #det-tit {
    font-size: 20px;
  }
  .notify-main {
    width: 60%;
    display: flex;
  }
  #notify-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #notify-btn i {
    margin-top: 5px;
  }
  .detail-left {
    width: 100% !important;
  }
  .section-detail {
    margin: 0 !important;
    padding: 0 !important;
  }
  .mobil-title {
    font-size: 15px !important;
  }
  #mobil-p {
    font-size: 11px;
  }

  .detail-card {
    max-width: 100%;
  }

  .detail-card-img {
    width: 100%;
    margin-left: 0 !important;
    padding: 0 !important;
  }

  .detail-title {
    text-align: center;
  }

  .notify-btn {
    width: 100%;
    margin-bottom: 1rem;
  }

  .detail-card {
    flex-direction: column;
    gap: 1rem;
  }

  .detail-card-img {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin: 0 auto;
  }

  .text-red-400 {
    display: block;
  }

  .text-blue-500 {
    display: block;
    margin-top: 0.5rem;
  }

  .text-xs {
    display: block;
    margin-top: 0.5rem;
  }

  .flex.flex-col.justify-between.p-4.leading-normal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
  }

  .flex.justify-around {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 430px) {
  .category-sidebar {
    display: none !important;
  }
  .navbar-bottom {
    display: flex !important;
  }
  .img-left {
    margin-left: 50px !important;
  }
  .detail-card-img {
    margin-left: 70px !important;
  }
  .nav-shop-madia {
    display: none !important;
  }
  .logo-bar input {
    margin-left: -45px;
  }
  .logo-bar {
    box-shadow: 0 3px 3px 0 rgb(40 40 45 / 10%);
  }
  .best-seller img {
    width: 100% !important;
    height: 90px;
  }
  .section-card {
    margin: 0 !important;
    padding: 0 !important;
    margin-left: -50px !important;
  }

  .cards {
    width: 110%;
    display: flex;
    margin-left: 5px;
    justify-content: center;
    align-items: center;
    gap: 0 !important;
  }
  .card-title span {
    margin-left: 20px !important;
  }
  .card-ban {
    width: 110% !important;
  }
  .cards .card-ani {
    width: 35% !important;
    display: flex;
  }
}
@media (max-width: 360px) {
  .section-catergory {
    padding: 0 !important;
    width: 90% !important;
    margin-left: -10px !important;
  }
  .category-sidebar {
    display: none !important;
  }
  .navbar-bottom {
    display: flex;
  }
}

/* Geçersiz kılma stilini ekle */
.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: none !important;
  border: none !important;
}

/* İsteğe bağlı olarak tüm accordion buttonlar için stil ekle */
.accordion-button:focus {
  background-color: var(--navbar-bottom-bg-color) !important;
  color: white !important;
}
.accordion-button {
  border: 1px solid #1e7b783d !important;
}
.navbar-bottom {
  position: sticky !important;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 60px;
  display: flex;
  background-color: var(--navbar-bottom-bg-color);
}

.navbar-bottom div {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgba(255, 255, 255, 0.363);
  overflow: hidden;
}
.navbar-bottom div:hover {
  background-color: #5e6a7b;
}
